.profile__info {
    width: calc(100% - 330px);
    padding-left: 28px;
	box-sizing: border-box;
  display: grid;
    grid-template-columns: auto 24px;
    justify-content: start;
    align-items: center; 
}

@media screen and (max-width: 767px) {
    .profile__info {
    align-items: center; 
		text-align: center;
    max-width: 100%;
		padding-left: 19px;
    padding-bottom: 36px;
    }
  }