.profile__info {
  width: calc(100% - 330px);
  box-sizing: border-box;
  display: grid;
  grid-template-columns: auto 24px;
  justify-content: start;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .profile__info {
      padding-left: 28px;
      width: 100%;
      justify-content: center;
      text-align: center;
      max-width: 100%;
      padding-bottom: 32px;
  }
}
