.profile__info {
  width: calc(100% - 330px);
  box-sizing: border-box;
  display: grid;
  justify-content: start;
  align-items: center;
  grid-template-columns: auto 1fr;
}

@media screen and (max-width: 767px) {
.profile__info {
  padding-left: 0;
  width: 100%;
  justify-content: center;
  text-align: center;
  padding-bottom: 32px;
  display: flex;
}
}
